div.sub-picks {
    margin-left: 5%;
    color: white;
    margin-top: 0%;
}

.li-decor {
    color: white;
    text-decoration: none;
}

div.sub-picks, ul.sub-picks-list, ul.search-ul, ul.bottom-dots-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    /* letter-spacing: 0.5px; */
    > span#sub-picks-span {
        border-left: 2px solid white;
        margin-left: 20px;
    }
}

div.search-div {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    > input {
        width: 100%;
        font-size: 25px;    
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border: 0;
        background: rgba(255, 255, 255, 0.1);
    }
    > button {
        width: 20%;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border: 0;
        background: rgba(255, 255, 255, 0.1);
    }
}
