{% extends 'master.html' %}
{% load static %}

{% block title %}Cat Clothing - Dcatz{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/subtopic.css' %}">
    <link rel="stylesheet" href="{% static 'css/itemlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <section class="sub-picks-section">
        <div class="sub-picks">
            <ul class="sub-picks-list">
                <li><a href="{% url 'homepage:accessories' %}" class="li-decor">Accessories</a></li>
                <li><a href="{% url 'homepage:clothing' %}" class="li-decor">Clothing</a></li>
                <li><a href="{% url 'homepage:furniture' %}" class="li-decor">Furniture</a></li>
                <li><a href="{% url 'homepage:food' %}" class="li-decor">Food</a></li>
                <li><a href="{% url 'homepage:toys' %}" class="li-decor">Toys</a></li>       
            </ul>
            <span id="sub-picks-span">
                <ul class="sub-picks-list">
                    <li><a href="{% url 'homepage:promo' %}" class="li-decor">Promo</a></li>
                    <li><a href="{% url 'homepage:free-shipping' %}" class="li-decor">Free Shipping</a></li>
                    <li><a href="{% url 'homepage:discounts' %}" class="li-decor">10% Off Deals</a></li>
                </ul>
            </span>
            <span>
                <ul class="search-ul">
                    <li>
                        <div class="search-div">
                            <input type="text" placeholder="Search" name="search" id="search" class="search-bar">
                            <button class="search-button">
                                <i class='bx bx-search'></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </span>
        </div>
    </section>

    <main>
        <section class="category-banner">
            <h1>Cat Clothing</h1>
            <p>Stylish Outfits for Your Cat</p>
        </section>
        
        <section class="list">
            {% for x in all %}
                <div class="product-item">
                    <img src="{% static 'all-files/' %}{{ x.file_name }}" alt="Cat Clothing">
                    <h3>{{ x.item_name }}</h3>
                    <p class="price">${{ x.price }}</p>
                    <a href="{% url 'homepage:cat_tree' x.id %}" class="view-product">View Product</a>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}
