body {
    background: linear-gradient(180deg, rgba(22,50,91,1) 0%, rgba(34,123,148,1) 25%, rgba(120,183,208,1) 50%, rgba(217,217,217,1) 75%, rgba(255,220,127,1) 100%);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}

div.sub-picks {
    margin-left: 5%;
    color: white;
    margin-top: 5%;
}

div.sub-picks, ul.sub-picks-list, ul.search-ul, ul.bottom-dots-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    /* letter-spacing: 0.5px; */
    > span#sub-picks-span {
        border-left: 2px solid white;
        margin-left: 20px;
    }
}

div.search-div {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    > input {
        width: 100%;
        font-size: 25px;    
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border: 0;
        background-color: rgb(0, 0, 0, 0.50);
    }
    > button {
        width: 20%;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border: 0;
        background-color: rgb(0, 0, 0, 0.50);
    }
}

.container {
    max-width: 60%; 
    margin-left: 20%;
    margin-top: 1%;
    padding: 15px; 
    background-color: rgba(0, 0, 0, 0.25);
}

.header {
    text-align: center;
    margin-bottom: 15px; 
}

.header h1 {
    font-size: 20px; 
    color: white;
}

.header p {
    font-size: 14px; 
    color: white;
}

.voucher-section {
    margin-bottom: 15px; 
}

.voucher-section h2 {
    font-size: 16px; 
    color: white;
    margin-bottom: 8px;
}

.voucher-card {
    background-color: #fff;
    padding: 15px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 15px; 
}

.voucher-card h3 {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
}

.voucher-card p {
    font-size: 12px; 
    color: #666;
    margin-bottom: 4px; 
}

.voucher-card .claim-button {
    background-color: #227B94;
    color: #fff;
    padding: 5px 8px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px; 
    
}




