{% extends 'master.html' %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/subtopic.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <section class="sub-picks-section">
        <div class="sub-picks">
            <ul class="sub-picks-list">
                <li><a href="{% url 'homepage:accessories' %}" class="li-decor">Accessories</a></li>
                <li><a href="{% url 'homepage:clothing' %}" class="li-decor">Clothing</a></li>
                <li><a href="{% url 'homepage:furniture' %}" class="li-decor">Furniture</a></li>
                <li><a href="{% url 'homepage:food' %}" class="li-decor">Food</a></li>
                <li><a href="{% url 'homepage:toys' %}" class="li-decor">Toys</a></li>       
            </ul>        
            <span id="sub-picks-span">
                <ul class="sub-picks-list">
                    <li><a href="{% url 'homepage:promo' %}" class="li-decor">Promo</a></li>
                    <li><a href="{% url 'homepage:free-shipping' %}" class="li-decor">Free Shipping</a></li>
                    <li><a href="{% url 'homepage:discounts' %}" class="li-decor">10% Off Deals</a></li>
                </ul>        
            </span>
            <span>
                <ul class="search-ul">
                    <li>
                        <div class="search-div">
                            <input type="text" placeholder="Search" name="search" id="search" class="search-bar">
                            <button class="search-button">
                                <i class='bx bx-search'></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </span>
        </div>
    </section>

    <!-- <section class="main-banner-section"> -->
        <div class="main-banner">
            <h1>Sale!</h1>
            <p>10% OFF</p>
            <img class="banner" src="{% static 'banner.png' %}">
        </div>

        <div class="bottom-dots">
            <ul class="bottom-dots-ul">
                <li id="bottom-dots-li"></li>
                <li id="bottom-dots-li"></li>
                <li id="bottom-dots-li"></li>
                <li id="bottom-dots-li"></li>
            </ul>
        </div>
    <!-- </section> -->

    <!-- <section class="top-products-section"> -->
        <section class="accessories-list">
            <div class="product-item">
                <img src="acce7.png" >
                <h3>pic1</h3>
                <p class="price"></p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
    
            <div class="product-item">
                <img src="acce2.png">
                <h3>pic2</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
    
            <div class="product-item">
                <img src="acce8.png" >
                <h3>pic3</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
    
            <div class="product-item">
                <img src="acce4.png">
                <h3>pic4</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
    
            <div class="product-item">
                <img src="acce5.png" >
                <h3>pic5</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce6.png" >
                <h3>pic6</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce1.png" >
                <h3>pic7</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce3.png" >
                <h3>pic8</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce9.png">
                <h3>pic9</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce10.png">
                <h3>pic10</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce10.png">
                <h3>pic11</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce10.png">
                <h3>pic12</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce10.png">
                <h3>pic13</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce10.png">
                <h3>pic14</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce10.png">
                <h3>pic15</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce10.png">
                <h3>pic16</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce10.png">
                <h3>pic17</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce10.png">
                <h3>pic18</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce10.png">
                <h3>pic19</h3>
                <p class="price">$60.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-item">
                <img src="acce10.png">
                <h3>pic20</h3>
                <p class="price"></p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            </div>
    
    
        </section>

        <style>
            .accessories-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 18px;
    
}

.product-item {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.product-item button{
    background: linear-gradient(45deg, #227B94, #16325b);
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-item h3 {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.product-item .price {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.product-item .add-to-cart {
    background-color: #227B94;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.product-item .add-to-cart:hover {
    background-color: #2980b9;
}
.main-banner h1{
    margin-top: 5vh;
}
.main-banner p{
    margin-top: 3vh;
}
        </style>
    <!-- </section> --> 

{% endblock %}
