{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <title>{% block title %} {% endblock %}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav>
        <div class="logo">
            <a href="#">D'Catz</a>
        </div>
        <ul class="nav-ul">
                <li><a href="/home-page" id="nav-links">Home</a></li>
                <li><a href="#" id="nav-links">About</a></li>
                <li><a href="#" id="nav-links">Contacts</a></li>
                <span class="nav-icons">
                    <li><a href="#" id="nav-links"><i class='bx bx-cart-add' ></i></a></li>
                    <li><a href="#" id="nav-links"><i class='bx bxs-heart' ></i></a></li>
                </span>
        </ul>
      </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <span class="footer-left">
            <ul class="footer-ul">
                <li id="footer-li"><a href="#">About Us</a></li>
                <li id="footer-li"><a href="#">Terms of Service</a></li>
                <li id="footer-li"><a href="#">Privacy & Policy</a></li>
            </ul>
        </span>
        <span class="footer-middle">
            <p>Follow Us</p>
            <a href="#"><i class='bx bxl-facebook' ></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>
        </span>
        <span class="footer-right">
            <p>Contact Us</p>
            <p>+123-456-7890</p>
            <p>dll@email.com</p>
        </span>

        
        <!-- <div class="follow">
        <p>Follow Us</p>
            <a href="#"><i class='bx bxl-facebook' ></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>
        </div>
    
        <div class="footer-right">
            <p>Contact Us</p>
            <p>+123-456-7890</p>
            <p>dll@email.com</p>
        </div> -->
    </footer>
</body>
</html>
